<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button
      routerLink="/"
      class="btn btn-link">
      На главную
    </button>
  </div>
  <div class="info">
    <strong>Тут автор поста</strong>
    <small>22.07.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam aut commodi error est
      exercitationem facilis, ipsum neque pariatur provident quas quasi qui totam voluptate voluptatem voluptatum.
      Aliquid autem delectus dolore possimus sapiente, voluptates voluptatum. A, accusantium, consequuntur deserunt
      dolore incidunt itaque laboriosam necessitatibus obcaecati optio quam, quia ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam aut commodi error est
      exercitationem facilis, ipsum neque pariatur provident quas quasi qui totam voluptate voluptatem voluptatum.
      Aliquid autem delectus dolore possimus sapiente, voluptates voluptatum. A, accusantium, consequuntur deserunt
      dolore incidunt itaque laboriosam necessitatibus obcaecati optio quam, quia ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam aut commodi error est
      exercitationem facilis, ipsum neque pariatur provident quas quasi qui totam voluptate voluptatem voluptatum.
      Aliquid autem delectus dolore possimus sapiente, voluptates voluptatum. A, accusantium, consequuntur deserunt
      dolore incidunt itaque laboriosam necessitatibus obcaecati optio quam, quia ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam aut commodi error est
      exercitationem facilis, ipsum neque pariatur provident quas quasi qui totam voluptate voluptatem voluptatum.
      Aliquid autem delectus dolore possimus sapiente, voluptates voluptatum. A, accusantium, consequuntur deserunt
      dolore incidunt itaque laboriosam necessitatibus obcaecati optio quam, quia ut.</p>
  </div>
</div>
